html
  head
    link(rel='stylesheet', href='/css/bootstrap.min.css')
    script(src='/js/jquery-3.1.1.min.js')
    script(src='/js/bootstrap.min.js')
  body
    .main.container
      .row
        h1.text-center FCC File Metadata MicroService
      br
      br
      .row
        .col-sm-8.col-sm-offset-2
          .panel.panel-default
            .panel-heading
              h3.panel-title Submit a file
            .panel-body
              form(action="/upload-file" method="post" enctype="multipart/form-data")
                input.btn-block.btn-primary(type="file" name="someFile")
                input.btn.btn-block.btn-primary(type="submit")